<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block page_title %}Toán học Pytago{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

    <!-- Ionicons -->
    {#<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
    <!-- Google material icon font -->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic&subset=latin,latin-ext,vietnamese"
          rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="bundles/app/front_office/css/font-awesome.min.css" rel="stylesheet">
    <link href="bundles/app/front_office/css/main.css" rel="stylesheet">
    {#
        {% block stylesheets %}
          {% stylesheets filter="scssphp"
          "@AppBundle/Resources/public/front_office/css/index.css"
            output="bundles/app/front_office/css/index.css" %}
            {% include '@App/components/twig_css_asset.html.twig' %}
            {% endstylesheets %}
        {% endblock %} #}

    <script>
        {% block javascript_global_setting %}

        {% endblock %}
    </script>

    {% block top_javascripts %}
    {% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}" {% block body_attr %}{% endblock %}>
{% include '@App/front_office/partials/header2.html.twig' %}
{% include '@App/front_office/partials/content.html.twig' %}
{% include '@App/front_office/partials/footer2.html.twig' %}
{% block body %}{% endblock %}

<script src="bundles/app/front_office/js/jquery.min.js"></script>
<script src="bundles/app/front_office/js/browser.min.js"></script>
<script src="bundles/app/front_office/js/breakpoints.min.js"></script>
<script src="bundles/app/front_office/js/util.js"></script>
<script src="bundles/app/front_office/js/main.js"></script>
{# ?s #}

{% block javascripts %}
    {% javascripts filter="?jsqueeze"
    "@AppBundle/Resources/public/front_office/js/bookly.js"
    "@AppBundle/Resources/public/front_office/js/customer_profile.js"
    "@AppBundle/Resources/public/front_office/js/hammer.min.js"
    "@AppBundle/Resources/public/front_office/js/index.js"
    "@AppBundle/Resources/public/front_office/js/intlTelInput.min.js"
    "@AppBundle/Resources/public/front_office/js/jquery-migrate.min.js"
    "@AppBundle/Resources/public/front_office/js/jquery.hammer.min.js"
    "@AppBundle/Resources/public/front_office/js/jquery.js"
    "@AppBundle/Resources/public/front_office/js/ladda.min.js"
    "@AppBundle/Resources/public/front_office/js/script.js"
    "@AppBundle/Resources/public/front_office/js/spin.min.js"

    output="bundles/app/front_office/js/index.js" %}
    {% include '@App/components/twig_js_asset.html.twig' %}
    {% endjavascripts %}
{% endblock %}

</body>
</html>
