<section id="banner">
    {# <div class="inner">
        <h1>Industrious</h1>
        <p>A responsive business oriented template with a video background<br />
        designed by <a href="https://templated.co/">TEMPLATED</a> and released under the Creative Commons License.</p>
    </div> #}
    
    <video autoplay loop muted playsinline src="bundles/app/front_office/images/intro.mp4"></video>
</section>

<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>GIỚI THIỆU</h2>
            <p>Sau khi hình thành, xây dựng và phát triển, với mong muốn truyền bá rộng rãi kiến thức Toán học, Lớp học Toán học Pytago với sự hướng dẫn của Anh Thầy Phạm Minh Thuận đã chính thức ra mắt cùng Logo và thương hiệu mới. 
            Việc ra đời của Toán học Pytago đánh dấu chiến lược, định hướng đào tạo trong lĩnh vực Giáo dục nói chung, và về môn Toán học nói riêng.</p>
        </header>
        <div class="highlights">
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                        <h3>MATH 11+</h3>
                    </header>
                    <p>Khóa học chuyên sâu về chương trình TOÁN 11 giúp học viên làm quen với các dạng toán cũng như các dạng đề thi, cung cấp kỹ năng làm bài hiệu quả cả về tự luận và trắc nghiệm</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                        <h3>MATH 12+</h3>
                    </header>
                    <p>Khóa học chuyên sâu về chương trình TOÁN 12 giúp học viên tạo nền tảng kiến thức vững chắc để hướng đến sự tự tin, chính xác của học viên trong quá trình làm bài trên lớp và kì thi THPT Quốc Gia 2019</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                        <h3>BỔ TRỢ KIẾN THỨC</h3>
                    </header>
                    <p>Học viên tại Toán học Pytago sẽ được tham gia các khóa học bổ trợ kiến thức về: Thủ thuật Casio, Mẹo làm bài, Kỹ năng mềm ngoài giờ để củng cố và nâng cao kiến thức giúp học viên đạt kết quả sau khóa học.</p>
                </div>
            </section>
        </div>
    </div>
</section>

<section id="cta" class="wrapper">
    <div class="inner">
        <h2>PHƯƠNG PHÁP DẠY</h2>
        <p>Trước kia, Toán học thiên về sự tư duy và khả năng thấu hiểu trình bày với giáo viên. 
        Nhưng hiện tại, do sự thay đổi trong giáo dục, môn Toán với hình thức THI TRẮC NGHIỆM đã yêu cầu sự tư duy và tốc độ giải quyết bài toán cao hơn.
        Chính vì lí do đó, Toán học Pytago kết hợp cả Phương pháp giải toán TỰ LUẬN nhằm đảm bảo điểm số ở mức Khá-Giỏi trên lớp, đồng thời sử dụng cả những Phương pháp giải nhanh cho Trắc Nghiệm phối hợp với các Thủ Thuật Casio nhằm đưa Học Viên đến với đáp số của bài toán một cách nhanh nhất có thể nhưng vẫn không sai bản chất và lý thuyết.</p>
    </div>
</section>

<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>CÁC KHÓA HỌC</h2>
            <p>Bản thân học viên mong muốn cải thiện kiến thức về môn Toán, học viên bị mất gốc Toán từ lớp dưới?
            Toán học Pytago sẽ luôn đồng hành cùng học viên và nguyện vọng của các bạn ấy.</p>
        </header>
        <div class="highlights">
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                        <h3>MATH 11+</h3>
                    </header>
                    <p>Khóa học chuyên sâu về chương trình TOÁN 11 giúp học viên làm quen với các dạng toán cũng như các dạng đề thi, cung cấp kỹ năng làm bài hiệu quả cả về tự luận và trắc nghiệm</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                        <h3>MATH 12+</h3>
                    </header>
                    <p>Khóa học chuyên sâu về chương trình TOÁN 12 giúp học viên tạo nền tảng kiến thức vững chắc để hướng đến sự tự tin, chính xác của học viên trong quá trình làm bài trên lớp và kì thi THPT Quốc Gia 2019</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                        <h3>BỔ TRỢ KIẾN THỨC</h3>
                    </header>
                    <p>Học viên tại Toán học Pytago sẽ được tham gia các khóa học bổ trợ kiến thức về: Thủ thuật Casio, Mẹo làm bài, Kỹ năng mềm ngoài giờ để củng cố và nâng cao kiến thức giúp học viên đạt kết quả sau khóa học.</p>
                </div>
            </section>
        </div>
    </div>
</section>