<footer id="footer" class="site-footer" >
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div id="text_contact-2" class="widget widget_text_contact">
                    <h3 class="widgettitle title m_title m_title_ext text-custom">THÔNG TIN LIÊN HỆ</h3>
                    <div class="textwidget contact-details"><p>Số điện thoại<strong> 01234560431</strong></p>
                        Email: <a href="mailto:phamminhthuan1704@gmail.com">phamminhthuan1704@gmail.com</a></p>
                        <strong>Địa chỉ :</strong> Số 397, đường 30/04, TP Thủ Dầu Một, tỉnh Bình Dương<br/>
                    </div>
                    <a href="" target="_blank"><i class="fa fa-facebook"></i><span>Toán học Pytago</span></a><br/>
                </div>
            </div>
            <div class="col-sm-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1958.5030162081136!2d106.6667958!3d10.9629164!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d6d2586c5e21%3A0x930a7bf5e0f56410!2zMzk3IMSQxrDhu51uZyAzMC80LCBQaMO6IFRo4buNLCBUaOG7pyBE4bqndSBN4buZdCwgQsOsbmggRMawxqFuZw!5e0!3m2!1svi!2s!4v1536303066814" 
                    width="100%" height="200" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</footer>
