<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1958.5030162081136!2d106.6667958!3d10.9629164!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d6d2586c5e21%3A0x930a7bf5e0f56410!2zMzk3IMSQxrDhu51uZyAzMC80LCBQaMO6IFRo4buNLCBUaOG7pyBE4bqndSBN4buZdCwgQsOsbmggRMawxqFuZw!5e0!3m2!1svi!2s!4v1536303066814" 
                    width="100%" height="300" frameborder="0" style="border:0" allowfullscreen>
                </iframe>    
            </section>
            
            <section>
                <h4>THÔNG TIN LIÊN HỆ</h4>
                <ul class="plain">
                    <li><a href="tel:01234560431"><i class="icon fa-phone">&nbsp;</i>01234560431</a></li>
                    <li><a href="mailto:phamminhthuan1704@gmail.com"><i class="icon fa-envelope">&nbsp;</i>phamminhthuan1704@gmail.com</a></li>
                    <li><a href="https://www.facebook.com/ToanHocPytago/"><i class="icon fa-facebook">&nbsp;</i>Toán học Pytago</a></li>
                    <li><i class="icon fa-map-marker">&nbsp;</i>397 đường 30/04, TP Thủ Dầu Một, tỉnh Bình Dương</li>
                </ul>
            </section>
        </div>
        <div class="copyright">
            ToanHocPytago &copy; 2018
        </div>
    </div>
</footer>