<footer id="footer" class="site-footer" >
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div id="text_contact-1" class="widget widget_text_contact">
                    <h3 class="widgettitle title m_title m_title_ext text-custom">THÔNG TIN LIÊN HỆ</h3>
                    <div class="textwidget contact-details"><p><strong>T (028) 6675 5252</strong><br />
                        Email: <a href="mailto:info@anhngupmp.edu.vn">info@anhngupmp.edu.vn</a></p>
                        <a href="" target="_blank"><i class="fa fa-facebook"></i>Toán học Pytago<br/></a>
                        <strong>Địa chỉ :</strong> 136/20A Lê Văn Việt, Phường Hiệp Phú, Quận 9, TP. Hồ Chí Minh<br/>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" width="100%" height="200" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
</footer>
