<header id="header" class="site-header style12 header--follow sticky-resize headerstyle--default site-header--absolute nav-th--light sheader-sh--dark">
	<div class="site-header-wrapper sticky-top-area">
		<div class="site-header-top-wrapper topbar-style--default sh--dark">
			{# <div class="siteheader-container container">
				<div class="fxb-row site-header-row site-header-top ">
					<div class='fxb-col fxb fxb-end-x fxb-center-y fxb-basis-auto site-header-col-right site-header-top-right'>										
						<div class="sh-component kl-header-toptext kl-font-alt">Dạy chân thành, học ngon lành
						</div>
						
						<div id="search" class="sh-component header-search headsearch--def">
							<a href="https://www.facebook.com/ToanHocPytago/" class="kl-icon-black">
								<i class="fa fa-facebook"></i>
							</a>
						</div>
					</div>
				</div>
			</div> #}
			<!-- /.site-header-top-wrapper -->

			<div class="kl-top-header site-header-main-wrapper clearfix   header-no-bottom  sh--dark">
				<div class="container siteheader-container ">
					<div class='fxb-col fxb-basis-auto'>
						<div class="fxb-row site-header-row site-header-main ">
							<div class='fxb-col fxb fxb-start-x fxb-center-y fxb-basis-auto fxb-grow-0 fxb-sm-half site-header-col-left site-header-main-left'>
								<div id="logo-container" class="logo-container hasInfoCard logosize--yes zn-original-logo">
									<!-- Logo -->
									<h1 class='site-logo logo' id='logo'>
										<a href='' class='site-logo-anch'>
											{# <img class="logo-img site-logo-img" src="https://anhngupmp.edu.vn/wp-content/uploads/2017/11/Anh-ngu-PMP-RGB-Full.png" alt="" title=""/> #}
											<img class="logo-img site-logo-img" 
												src="bundles/app/front_office/images/logo.png" 
												alt="Toán học Pytago" title="Toán học Pytago" 
												style=""/>
										</a>
									</h1>
								</div>
							</div>

							<div class='fxb-col fxb fxb-center-x fxb-center-y fxb-basis-auto fxb-grow-0 site-header-col-center site-header-main-center'></div>

							<div class='fxb-col fxb fxb-end-x fxb-center-y fxb-basis-auto fxb-sm-half site-header-col-right site-header-main-right'>
								<div class='fxb-col fxb fxb-end-x fxb-center-y fxb-basis-auto fxb-sm-half site-header-main-right-top'>
									<div class="sh-component main-menu-wrapper" role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
										<!-- responsive menu -->
										<div class="zn-res-menuwrapper">
											<a href="#" class="zn-res-trigger zn-menuBurger zn-menuBurger--3--s zn-menuBurger--anim1" id="zn-res-trigger">
												<span></span>
												<span></span>
												<span></span>
											</a>
										</div><!-- end responsive menu -->
										<div id="main-menu" class="main-nav mainnav--overlay mainnav--active-bg mainnav--pointer-dash nav-mm--light zn_mega_wrapper ">
											<ul id="menu-main-menu-pmp" class="main-menu main-menu-nav zn_mega_menu ">
												<li id="menu-item-3282" class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-3282 active  main-menu-item-top  menu-item-even menu-item-depth-0">
													<a href="" class=" main-menu-link main-menu-link-top"><span>GIỚI THIỆU</span></a>
												</li>
												<li id="menu-item-10738" class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-10738  main-menu-item-top  menu-item-even menu-item-depth-0">
													<a href="" class=" main-menu-link main-menu-link-top"><span>BLOG</span></a></li>
												<li id="menu-item-10649" class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-10649  main-menu-item-top  menu-item-even menu-item-depth-0">
													<a href="" class=" main-menu-link main-menu-link-top"><span>TÀI LIỆU</span></a>
												</li>
												<li id="menu-item-11622" class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11622  main-menu-item-top  menu-item-even menu-item-depth-0">
													<a href="" class=" main-menu-link main-menu-link-top"><span>TÂM SỰ</span></a>
												</li>
												{# <li id="menu-item-11492" class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11492  main-menu-item-top  menu-item-even menu-item-depth-0">
													<a href="" class=" main-menu-link main-menu-link-top"><span>TÀI LIỆU</span></a>
													<ul class="sub-menu clearfix">
														<li id="menu-item-11733" class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-11733  main-menu-item-sub  menu-item-odd menu-item-depth-1"><a href="https://study.anhngupmp.edu.vn" class=" main-menu-link main-menu-link-sub"><span>Tài liệu học viên</span></a></li>
														<li id="menu-item-10600" class="main-menu-item menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10600  main-menu-item-sub  menu-item-odd menu-item-depth-1"><a href="https://anhngupmp.edu.vn/category/goc-hoc-tap" class=" main-menu-link main-menu-link-sub"><span>Chia sẻ kiến thức</span></a></li>
														<li id="menu-item-11673" class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-11673  main-menu-item-sub  menu-item-odd menu-item-depth-1"><a href="https://www.youtube.com/watch?v=W2QBAiT4B_o&#038;list=PLeq9KzPj5hMARu_W3-8MNisj1LPtri186" class=" main-menu-link main-menu-link-sub"><span>Video Giải đề TOEIC 2018</span></a></li>
														<li id="menu-item-11365" class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-11365  main-menu-item-sub  menu-item-odd menu-item-depth-1"><a href="https://anhngupmp.edu.vn/hoc-kem-hoc-bu-tai-anh-ngu-pmp" class=" main-menu-link main-menu-link-sub"><span>Đăng ký học bù &#8211; học kèm</span></a></li>
													</ul>
												</li> #}
											</ul>
										</div>		
									</div>
								<!-- end main_menu -->
							</div>
						</div>
					</div><!-- /.site-header-main -->
				</div>
			</div><!-- /.siteheader-container -->
		</div><!-- /.site-header-main-wrapper -->
	</div><!-- /.site-header-wrapper -->
</header>