<header id="header">
    <a class="logo" href="index.html">Toán học Pytago</a>
    
    <nav><a href="#menu">Menu</a></nav>
</header>

<nav id="menu">
    <ul class="links">
        <li><a href="">BLOG</a></li>
        <li><a href="">TÀI LIỆU</a></li>
        <li><a href="">TÂM SỰ</a></li>
    </ul>
</nav>